:root{
  --gray: #444;
  --white: #fff;
  --transparent: rgba(255, 255, 255, 0.5);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  background: url("https://source.unsplash.com/1600x900/?nature,beach,water,flower");
  background-size: cover;
  overflow-y: hidden;
}
#clock {
  font-family: 'Orbitron', sans-serif;
  font-size: 5rem;
  color: var(--gray);
  background-color: var(--transparent);
  padding: 17px 17px 0 17px;
  border-radius: 15px;
}

ion-icon {
  border-radius: 10px;
  background-color: var(--transparent);
  padding: 15px;
  margin: 0 25px;
  font-size: 40px;
  vertical-align: text-top;
  color: var(--gray);
}
